.body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  max-width: 2em;
  width: 100%;
  height: auto;
  padding: 0.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #D2691E);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #D2691E);
}